html,
body {
  font: 16px/1.2 "Hack", Helvetica, arial, sans-serif;
  color: rgb(220,220,220);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  background: rgb(55,55,55);
  margin: 0px;
}

#side {
	z-index: 1000;
}

#wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
}

#menu-container {
	height: 100%;
	width: 35%;
	margin: 0 auto;
	left: 0;
  	right: 0;
	position: absolute;
}

#game-container {
	height: 100%;
	width: 35%;
	margin: 0 auto;
}

#levels-container {
	height: 100%;
	width: 85%;
	margin: 0 auto;
	left: 0;
  	right: 0;
	position: absolute;
}

#about-container {
	height: 100%;
	width: 85%;
	margin: 0 auto;
	left: 0;
  	right: 0;
	position: absolute;
}

#settings-container {
	height: 100%;
	width: 85%;
	margin: 0 auto;
	left: 0;
  	right: 0;
	position: absolute;
}

.menu {
	font-family: Hack;
	color: white;
	cursor: pointer;
	transform-origin: 'center';
}

.noclick {
	pointer-events: none;
}

.h1 {
	font-family: Hack;
	text-transform: uppercase;
	color: white;
}

.h2 {
	font-family: Hack;
	text-transform: 'uppercase';
	color: rgb(200,200,200);
}

.h2-value {
	color: rgb(240,240,240);
}